# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.idea/.name
.idea/workspace.xml
.idea/vcs.xml
.idea/tdd-training.iml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
phpUnit/phpunit.phar
myComposer/composer.json
myComposer/composer.phar
composer.json
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/ClassLoader.php
.idea/php.xml
test/report.php
test/test/css/bootstrap.min.css
test/test/css/nv.d3.css
test/test/css/style.css
test/test/dashboard.html
test/test/fonts/glyphicons-halflings-regular.eot
test/test/fonts/glyphicons-halflings-regular.svg
test/test/fonts/glyphicons-halflings-regular.ttf
test/test/fonts/glyphicons-halflings-regular.woff
test/test/index.html
test/test/js/bootstrap.min.js
test/test/js/d3.min.js
test/test/js/holder.js
test/test/js/html5shiv.min.js
test/test/js/jquery.min.js
test/test/js/nv.d3.min.js
test/test/js/respond.min.js
test/test/Math.php.html
test/test/Sequence.php.html
test/test/SequenceAnalyser.php.html
src/Homework02/SequenceAnalyser.php
test/Homework02/SequenceAnalyserTest.php
test/Homework02/SequenceAnalyserTest.php
src/Practice03B/AppleProduct.php
src/Practice03B/Basket.php
src/Practice03B/Cashier.php
src/Practice03B/index.php
src/Practice03B/LightProduct.php
src/Practice03B/Product.php
src/Practice03B/StarShipProduct.php
test/Practice03/ProductTest.php
test/test/Product.php.html
test/test/AppleProduct.php.html
test/test/LightProduct.php.html
test/test/StarShipProduct.php.html
test/test/Basket.php.html
test/test/src/dashboard.html
test/test/src/Homework03/AppleProduct.php.html
test/test/src/Homework03/Basket.php.html
test/test/src/Homework03/dashboard.html
test/test/src/Homework03/index.html
test/test/src/Homework03/LightProduct.php.html
test/test/test/index.html
test/test/test/Homework03/index.html
test/test/test/Homework03/dashboard.html
test/test/test/Homework03/CashierTest.php.html
test/test/test/dashboard.html
test/test/src/index.html
test/test/src/Homework03/StarShipProduct.php.html
test/test/src/Homework03/Product.php.html
test/test/Cashier.php.html
test/test/Homework03/AppleProduct.php.html
test/test/Homework03/Basket.php.html
test/test/Homework03/Cashier.php.html
test/test/Homework03/dashboard.html
test/test/Homework03/index.html
test/test/Homework03/LightProduct.php.html
test/test/Homework03/Product.php.html
test/test/Homework03/StarShipProduct.php.html
test/test/Practice03B/dashboard.html
test/test/Practice03B/LightProduct.php.html
test/test/Practice03B/Product.php.html
test/test/Practice03B/StarShipProduct.php.html
test/test/Practice03B/index.html
test/test/Practice04/js/nv.d3.min.js
test/test/Practice04/js/jquery.min.js
test/test/Practice04/js/html5shiv.min.js
test/test/Practice04/js/respond.min.js
test/test/Practice04/js/d3.min.js
test/test/Practice04/js/bootstrap.min.js
src/Practice01B/Calculator.php
src/Practice01B/Math.php
src/Practice03C/Apple.php
src/Practice03C/Basket.php
src/Practice03C/Cashier.php
src/Practice03C/Light.php
src/Practice03C/Product.php
src/Practice03C/Starship.php
src/Practice03C/Unit.php
test/Practice01B/CalculatorWithMockTest.php
test/Practice03C/BasketTest.php
test/Practice03C/CashierTest.php
test/Practice03C/ProductTest.php
test/Practice03C/ShoppingTest.php
test/Practice03C/UnitTest.php
test/test/Calculator.php.html
test/test/Homework04/Captcha.php.html
test/test/Homework04/css/bootstrap.min.css
test/test/Homework04/css/nv.d3.css
test/test/Homework04/css/style.css
test/test/Homework04/dashboard.html
test/test/Homework04/fonts/glyphicons-halflings-regular.eot
test/test/Homework04/fonts/glyphicons-halflings-regular.svg
test/test/Homework04/fonts/glyphicons-halflings-regular.ttf
test/test/Homework04/fonts/glyphicons-halflings-regular.woff
test/test/Homework04/FraudSystemTest.php.html
test/test/Homework04/index.html
test/test/Homework04/js/bootstrap.min.js
test/test/Homework04/js/d3.min.js
test/test/Homework04/js/holder.js
test/test/Homework04/js/html5shiv.min.js
test/test/Homework04/js/jquery.min.js
test/test/Homework04/js/nv.d3.min.js
test/test/Homework04/js/respond.min.js
test/test/Practice01/dashboard.html
test/test/Practice01/index.html
test/test/Practice01/Math.php.html
test/test/Practice01B/Calculator.php.html
test/test/Practice01B/dashboard.html
test/test/Practice01B/index.html
test/test/Practice03C/Apple.php.html
test/test/Practice03C/Basket.php.html
test/test/Practice03C/Cashier.php.html
test/test/Practice03C/css/bootstrap.min.css
test/test/Practice03C/css/nv.d3.css
test/test/Practice03C/css/style.css
test/test/Practice03C/dashboard.html
test/test/Practice03C/fonts/glyphicons-halflings-regular.eot
test/test/Practice03C/fonts/glyphicons-halflings-regular.svg
test/test/Practice03C/fonts/glyphicons-halflings-regular.ttf
test/test/Practice03C/fonts/glyphicons-halflings-regular.woff
test/test/Practice03C/index.html
test/test/Practice03C/js/bootstrap.min.js
test/test/Practice03C/js/d3.min.js
test/test/Practice03C/js/holder.js
test/test/Practice03C/js/html5shiv.min.js
test/test/Practice03C/js/jquery.min.js
test/test/Practice03C/js/nv.d3.min.js
test/test/Practice03C/js/respond.min.js
test/test/Practice03C/Light.php.html
test/test/Practice03C/Product.php.html
test/test/Practice03C/Starship.php.html
test/test/Practice04/css/bootstrap.min.css
test/test/Practice04/css/nv.d3.css
test/test/Practice04/css/style.css
test/test/Practice04/dashboard.html
test/test/Practice04/Doors.php.html
test/test/Practice04/fonts/glyphicons-halflings-regular.eot
test/test/Practice04/fonts/glyphicons-halflings-regular.svg
test/test/Practice04/fonts/glyphicons-halflings-regular.ttf
test/test/Practice04/fonts/glyphicons-halflings-regular.woff
test/test/Practice04/index.html
test/test/Practice04/js/holder.js
src/Homework04/Captcha.php
src/Homework04/Captcha.php
test/Homework04/CaptchaTest.php
src/Homework04/Captcha.php
test/test/Homework04_2/Captcha.php.html
test/test/Homework04_2/Counter.php.html
test/test/Homework04_2/css/bootstrap.min.css
test/test/Homework04_2/css/nv.d3.css
test/test/Homework04_2/css/style.css
test/test/Homework04_2/dashboard.html
test/test/Homework04_2/fonts/glyphicons-halflings-regular.eot
test/test/Homework04_2/fonts/glyphicons-halflings-regular.eot
test/test/Homework04_2/fonts/glyphicons-halflings-regular.eot
test/test/Homework04_2/fonts/glyphicons-halflings-regular.eot
test/test/Homework04_2/fonts/glyphicons-halflings-regular.svg
test/test/Homework04_2/fonts/glyphicons-halflings-regular.woff
test/test/Homework04_2/index.html
test/test/Homework04_2/js/bootstrap.min.js
test/test/Homework04_2/js/d3.min.js
test/test/Homework04_2/test/index.html
test/test/Homework04_2/test/Homework04_2/index.html
test/test/Homework04_2/test/Homework04_2/AuthenticationLoginTest.php.html
test/test/Homework04_2/src/index.html
test/test/Homework04_2/test/dashboard.html
test/test/Homework04_2/src/Homework04_2/index.html
test/test/Homework04_2/src/Homework04_2/dashboard.html
test/test/Homework04_2/src/Homework04_2/Counter.php.html
test/test/Homework04_2/src/Homework04_2/Captcha.php.html
test/test/Homework04_2/src/dashboard.html
test/test/Homework04_2/Login.php.html
test/test/Homework04_2/js/nv.d3.min.js
test/test/Homework04_2/js/jquery.min.js
test/test/Homework04_2/js/html5shiv.min.js
test/test/Homework04_2/js/holder.js
test/test/Homework04_2/js/respond.min.js
test/test/Homework04_2/test/Homework04_2/dashboard.html
test/test/Homework04_2/fonts/glyphicons-halflings-regular.ttf
src/PracticeCarInterface/CarController.php
src/PracticeCarInterface/CarInterface/Electronics.php
src/PracticeCarInterface/CarInterface/Engine.php
src/PracticeCarInterface/CarInterface/Gearbox.php
src/PracticeCarInterface/CarInterface/Lights.php
src/PracticeCarInterface/CarInterface/SpyingElectronics.php
src/PracticeCarInterface/CarInterface/SpyingStatusPanel.php
src/PracticeCarInterface/CarInterface/StatusPanel.php
test/PracticeCarInterface/CarControllerTest.php
test/test/PracticeCarInterface/CarController.php.html
test/test/PracticeCarInterface/CarInterface/dashboard.html
test/test/PracticeCarInterface/CarInterface/Gearbox.php.html
test/test/PracticeCarInterface/CarInterface/index.html
test/test/PracticeCarInterface/CarInterface/SpyingElectronics.php.html
test/test/PracticeCarInterface/CarInterface/SpyingStatusPanel.php.html
test/test/PracticeCarInterface/css/bootstrap.min.css
test/test/PracticeCarInterface/css/nv.d3.css
test/test/PracticeCarInterface/css/style.css
test/test/PracticeCarInterface/dashboard.html
test/test/PracticeCarInterface/fonts/glyphicons-halflings-regular.eot
test/test/PracticeCarInterface/fonts/glyphicons-halflings-regular.svg
test/test/PracticeCarInterface/fonts/glyphicons-halflings-regular.ttf
test/test/PracticeCarInterface/fonts/glyphicons-halflings-regular.woff
test/test/PracticeCarInterface/index.html
test/test/PracticeCarInterface/js/bootstrap.min.js
test/test/PracticeCarInterface/js/d3.min.js
test/test/PracticeCarInterface/js/holder.js
test/test/PracticeCarInterface/js/html5shiv.min.js
test/test/PracticeCarInterface/js/jquery.min.js
test/test/PracticeCarInterface/js/nv.d3.min.js
test/test/PracticeCarInterface/js/respond.min.js
phpUnitTutorial/AuthorizeNetAIM.php
phpUnitTutorial/BadCode.php
phpUnitTutorial/invokeMethodReflection.txt
phpUnitTutorial/NaughtyConstructor.php
phpUnitTutorial/Payment.php
phpUnitTutorial/test/BadCodeTest.php
phpUnitTutorial/test/NaughtyConstructorTest.php
phpUnitTutorial/test/PaymentTest.php
phpUnitTutorial/test/phpUnitTutorial/AuthorizeNetAIM.php.html
phpUnitTutorial/test/phpUnitTutorial/BadCode.php.html
phpUnitTutorial/test/phpUnitTutorial/css/bootstrap.min.css
phpUnitTutorial/test/phpUnitTutorial/css/nv.d3.css
phpUnitTutorial/test/phpUnitTutorial/css/style.css
phpUnitTutorial/test/phpUnitTutorial/dashboard.html
phpUnitTutorial/test/phpUnitTutorial/fonts/glyphicons-halflings-regular.eot
phpUnitTutorial/test/phpUnitTutorial/fonts/glyphicons-halflings-regular.svg
phpUnitTutorial/test/phpUnitTutorial/fonts/glyphicons-halflings-regular.ttf
phpUnitTutorial/test/phpUnitTutorial/fonts/glyphicons-halflings-regular.woff
phpUnitTutorial/test/phpUnitTutorial/index.html
phpUnitTutorial/test/phpUnitTutorial/js/bootstrap.min.js
phpUnitTutorial/test/phpUnitTutorial/js/d3.min.js
phpUnitTutorial/test/phpUnitTutorial/js/holder.js
phpUnitTutorial/test/phpUnitTutorial/js/html5shiv.min.js
phpUnitTutorial/test/phpUnitTutorial/js/jquery.min.js
phpUnitTutorial/test/phpUnitTutorial/js/nv.d3.min.js
phpUnitTutorial/test/phpUnitTutorial/js/respond.min.js
phpUnitTutorial/test/phpUnitTutorial/NaughtyConstructor.php.html
phpUnitTutorial/test/phpUnitTutorial/Payment.php.html
phpUnitTutorial/test/phpUnitTutorial/URL.php.html
phpUnitTutorial/test/phpUnitTutorial/User.php.html
phpUnitTutorial/test/StupidTest.php
phpUnitTutorial/test/URLTest.php
phpUnitTutorial/test/UserTest.php
phpUnitTutorial/URL.php
phpUnitTutorial/User.php
test/test/Homework04_2/src/Homework04_2/Login.php.html
test/test/Homework04_2/test/Homework04_2/UserTest.php.html
test/test/Homework04_2/User.php.html
test/test/Homework04_2/test/Homework04_2/LoginAuthTest.php.html
test/test/Homework04_2/src/Homework04_2/User.php.html
test/test/Homework04_2/LoginAuth.php.html
test/test/Homework04_2/LoginAttempt.php.html
test/test/Homework04_2/Authenticate.php.html
test/test/Homework04_2/ErrorLog.php.html
composer.lock
test/Homework05/test/Homework05/css/bootstrap.min.css
test/Homework05/test/Homework05/css/nv.d3.css
test/Homework05/test/Homework05/css/style.css
test/Homework05/test/Homework05/dashboard.html
test/Homework05/test/Homework05/fonts/glyphicons-halflings-regular.eot
test/Homework05/test/Homework05/fonts/glyphicons-halflings-regular.svg
test/Homework05/test/Homework05/fonts/glyphicons-halflings-regular.ttf
test/Homework05/test/Homework05/fonts/glyphicons-halflings-regular.woff
test/Homework05/test/Homework05/index.html
test/Homework05/test/Homework05/js/bootstrap.min.js
test/Homework05/test/Homework05/js/d3.min.js
test/Homework05/test/Homework05/js/holder.js
test/Homework05/test/Homework05/js/html5shiv.min.js
test/Homework05/test/Homework05/js/jquery.min.js
test/Homework05/test/Homework05/js/nv.d3.min.js
test/Homework05/test/Homework05/js/respond.min.js
test/Homework05/test/Homework05/ProductDao.php.html
test/product_dev.db
test/test/Homework05/css/bootstrap.min.css
test/test/Homework05/css/nv.d3.css
test/test/Homework05/css/style.css
test/test/Homework05/dashboard.html
test/test/Homework05/fonts/glyphicons-halflings-regular.eot
test/test/Homework05/fonts/glyphicons-halflings-regular.svg
test/test/Homework05/fonts/glyphicons-halflings-regular.ttf
test/test/Homework05/fonts/glyphicons-halflings-regular.woff
test/test/Homework05/index.html
test/test/Homework05/js/bootstrap.min.js
test/test/Homework05/js/d3.min.js
test/test/Homework05/js/holder.js
test/test/Homework05/js/html5shiv.min.js
test/test/Homework05/js/jquery.min.js
test/test/Homework05/js/nv.d3.min.js
test/test/Homework05/js/respond.min.js
test/test/Homework05/ProductDao.php.html
vendor/ajbdev/authorizenet-php-api/AuthorizeNet.php
vendor/ajbdev/authorizenet-php-api/doc/AIM.markdown
vendor/ajbdev/authorizenet-php-api/doc/ARB.markdown
vendor/ajbdev/authorizenet-php-api/doc/CIM.markdown
vendor/ajbdev/authorizenet-php-api/doc/CP.markdown
vendor/ajbdev/authorizenet-php-api/doc/DPM.markdown
vendor/ajbdev/authorizenet-php-api/doc/SIM.markdown
vendor/ajbdev/authorizenet-php-api/doc/SOAP.markdown
vendor/ajbdev/authorizenet-php-api/doc/TD.markdown
vendor/ajbdev/authorizenet-php-api/lib/AuthorizeNetAIM.php
vendor/ajbdev/authorizenet-php-api/lib/AuthorizeNetARB.php
vendor/ajbdev/authorizenet-php-api/lib/AuthorizeNetCIM.php
vendor/ajbdev/authorizenet-php-api/lib/AuthorizeNetCP.php
vendor/ajbdev/authorizenet-php-api/lib/AuthorizeNetDPM.php
vendor/ajbdev/authorizenet-php-api/lib/AuthorizeNetSIM.php
vendor/ajbdev/authorizenet-php-api/lib/AuthorizeNetSOAP.php
vendor/ajbdev/authorizenet-php-api/lib/AuthorizeNetTD.php
vendor/ajbdev/authorizenet-php-api/lib/shared/AuthorizeNetRequest.php
vendor/ajbdev/authorizenet-php-api/lib/shared/AuthorizeNetResponse.php
vendor/ajbdev/authorizenet-php-api/lib/shared/AuthorizeNetTypes.php
vendor/ajbdev/authorizenet-php-api/lib/shared/AuthorizeNetXMLResponse.php
vendor/ajbdev/authorizenet-php-api/lib/ssl/cert.pem
vendor/ajbdev/authorizenet-php-api/License.pdf
vendor/ajbdev/authorizenet-php-api/README
vendor/ajbdev/authorizenet-php-api/README.html
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNetAIM_Test.php
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNetARB_Test.php
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNetCIM_Test.php
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNetCP_Test.php
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNetDPM_Test.php
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNetSIM_Test.php
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNetSSL_Test.php
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNetTD_Test.php
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNet_SOAP_Test.php
vendor/ajbdev/authorizenet-php-api/tests/AuthorizeNet_Test_Config.php
vendor/ajbdev/authorizenet-php-api/tests/domain.crt
vendor/ajbdev/authorizenet-php-api/tests/README
vendor/ajbdev/authorizenet-php-api/tests/report.html
vendor/composer/installed.json